<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  	<title>Registrácia</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
  </head>
  
  <body class="reg" onload="checkAcc()">
    
  <img class="nadpis" src="../images/nadpisreg.png" alt="registracia" />
  <div class="form">
		<form action="/main" method="post">
    
      <div class="errorMsg">
        {% for error in errors %}
            {{error}}<br/>
        {% endfor %}
      </div>
    
      <div class="nadpis">
        <img src="../images/star.png" alt="little star"/>
        VAŠE MENO
      </div>
     
      <div class="other">      
	  	<input maxlength="200" type="text" name="firstname" id="fname" {% if 'firstname' in errorIds %} class="error" {% endif%} style="margin-bottom:3px;" value="{{p.firstname}}"/>
        <label for="fname">Krstné meno</label>
        <br>
	  	<input maxlength="200" type="text" name="lastname" id="lname" value="{{p.lastname}}" {% if 'lastname' in errorIds %} class="error" {% endif%}/>
        <label for="lname">Priezvisko</label>
	    </div>
            
   
    <div class="nadpis" style="display:inline-block; float:left;">
        <img src="../images/star.png" alt="little star"/>
        E-MAIL
    </div>
    
    <div class="other">   
		<input maxlength="200" type="text" name="email" id="email" value="{{p.email}}" {% if 'email' in errorIds %}class="error" {% endif%}/>
        <label for="email">Pracovný e-mail</label>
	  </div>
   
      <div class="nadpis" style="display:inline-block; float:left;"> 
        <img src="../images/star.png" alt="little star"/>
        ZAMESTNÁVATEĽ   
      </div>   
      
      <div class="notes" style="position:absolute;"> 
      Pri výbere zamestnávateľa si zamestnanci, ktorí majú zdieľaný úväzok, vyberú tú spoločnosť, v ktorej majú väčší úväzok. 
      </div>
      
      <div class="other {% if 'employer' in errorIds %} radioerror{% endif%}" >      
        <label>
            <input class="radiobutton" type="radio" name="employer" value="UP" {% if p.employer == "UP" %} checked {% endif %}/>
            Union poisťovňa
        </label>      
        <br>
        <label>
          <input class="radiobutton" type="radio" name="employer" value="UZP" {% if p.employer == "UZP" %} checked {% endif %}/>
          Union zdravotná poisťovňa
        </label>      
      </div>
  	
      
      <div class="nadpis">
        <img src="../images/star.png" alt="little star"/>
        VAŠE PRACOVISKO
      </div> 
      <div class="other"> 
         <select id="workplace" name="workplace" style="width:163px;" class="workplace {% if 'workplace' in errorIds %} error {% endif%}">
             <option value="" disabled="disabled" selected="selected">-- Vyberte pracovisko --</option>
            {% for value in orderedWorkplaces  %}
                <option value="{{value}}" {% if p.workplace == value %} selected="selected" {% endif %}>{{workplaces[value]}}</option>
            {% endfor %}
         </select>
      </div>

      
      <div class="nadpis" style="display:inline-block; float:left;"> 
        <img src="../images/star.png" alt="little star"/>
        UBYTOVANIE   
      </div> 
        
      <div class="notes" style="position:absolute;"> 
        Ubytovanie si môžu nárokovať tí, ktorých miesto výkonu práce je vzdialené viac ako 90 km od Bratislavy.
        Ubytovanie je zabezpečené priamo v hoteli Crowne Plaza.
      </div>
      
      <div class="other accomCheck">
        <label>
            <input type="checkbox" class="check accomCheck" name="accomodation" value="yes" {% if p.accomodation == "yes" %} checked {% endif %} />
            Mám záujem o ubytovanie
        </label>        
      </div>
      
      <div>
	      <div class="nadpis" style="display:inline-block; float:left;">
	        <img src="../images/star.png" alt="little star" />
				  TRVALÉ BYDLISKO
	      </div> 
	      
	      <div class="notes" style="position:absolute; padding-top:15px;"> 
	        Adresa Vášho trvalého bydliska, pre účely hotela Crowne Plaza.
	      </div>
      
      
      <!-- todo auto width-->
			<div class="other accom">
			  <textarea maxlength="200" rows="2" cols="18" name="residence" class="accom{% if 'residence' in errorIds %} error{% endif%}">{{p.residence}}</textarea>
			</div>
	  </div>
      
			<div class="nadpis" style="display:inline-block; float:left;">
        <img src="../images/star.png" alt="little star" />
			  SPOLUBÝVAJÚCI
      </div> 
      
      <div class="notes" style="position:absolute;"> 
          V ponuke sú 2-lôžkové izby. Prosím, navzájom sa dohodnite, s kým budete ubytovaní na izbe a vyplňte meno spolubývajúceho. 
      </div> 
      
      <div class="other accom">                  
			  <input maxlength="200" type="text" name="roommate" value="{{p.roommate}}" class="accom{% if 'roommate' in errorIds %} error{% endif%}"/>
      </div>
      
      
      <div class="nadpis">
        <img src="../images/star.png" alt="little star" />
			  INFORMAČNÉ POKYNY
      </div> 
      
      <div class="instructions">
      
      	<ul>
					<li>Doprava nie je organizovaná autobusmi, prosíme Vás, aby ste sa dohodli s kolegami, ktorí majú služobné autá a navzájom si poskytli odvoz, prípadne využili MHD (posádka auta by mala byť minimálne 3 ľudia).</li>
					<li>Parkovanie pre ubytovaných hostí je zabezpečené v hoteli Crowne Plaza.</li>
					<li>Podrobnejšie informácie o ubytovaní a inštrukcie k vykazovaniu dochádzky Vám budú zaslané emailom.</li>
					<li>Ak máte otázky týkajúce sa organizačných pokynov, zasielajte ich na  <a style="color: #D6944B;" href="mailto:union@branda.sk">union@branda.sk</a>.</li>
				</ul>
      
      </div> 
      
      <div>
				<input type="submit" value="Ďalej" style="margin-bottom:50px; margin-top:10px;"/>
			</div>
      
      
 		</form>
  
	</div>
  
  
  
    
   <script>
        $('#workplace').on( "change", checkAcc );
        $('input.accomCheck').on( "click", checkAccFields );
    </script>
  </body>
</html>
{% endautoescape %}