body {
   -webkit-font-smoothing: antialiased;
    font-family: helvetica, arial, sans-serif;
    font-style:italic;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #FFFFFF;
}

body.reg {
    
    -webkit-font-smoothing: antialiased;
    font-family: helvetica, arial, sans-serif;
    font-style:italic;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #fff;
}

/*body.res {
	font-family: Verdana, Tahoma, sans-serif;
	background-image: url('../images/bgres.png');
	background-repeat: repeat-y;
	background-position: center top;
	background-color: #FFFFFF;
	margin: 0;
}

body.intro {
	font-family: Verdana, Tahoma, sans-serif;
	background-image: no-image;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: black;
}*/

/* error styles input, select and radio boxes */

textarea.error, input.error {
     -moz-box-shadow: 0px 0px 2pt 1pt red;
     -webkit-box-shadow: 0px 0px 2pt 1pt red;
     box-shadow: 0px 0px 2pt 1pt red;
	/*outline: solid 1px red;*/
	
}

select.error {
     -moz-box-shadow: 0px 0px 2pt 1pt red;
     -webkit-box-shadow: 0px 0px 2pt 1pt red;
     box-shadow: 0px 0px 2pt 1pt red;
	/*outline: solid 1px red;*/
}

div.radioerror {
     -moz-box-shadow: 0px 0px 2pt 1pt red;
     -webkit-box-shadow: 0px 0px 2pt 1pt red;
     box-shadow: 0px 0px 2pt 1pt red;
	/*border: solid 1px;
	border-color: red;*/
	clear: both;
	margin-bottom: 10px;
	padding-bottom: 6px;
	padding-top: 6px;
	width: 270px;
	height: auto;
	color: #FFFFFF;
	font-size: 16px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* style for disabled divs (when distance < 90km) */
div.disabled {
	opacity: 0.1;
	filter: alpha(opacity=10);
}
/* style for disabled inputs (hoover and focus color change turned off) */

input.disabled:hover, input.disabled:focus, textarea.disabled:hover, textarea.disabled:focus {
	border-color: #c4d001;
}

/* text inputs */
input, textarea {
	display: inline;
	position: relative;
	padding: 4px;
	outline: 0;
	font: normal 14px/100%;
	font-size: 16px;
	width: 180px;
	height: 30px;
	background-color: #fff;
	border: solid 3px #c4d001;
	color: #747474;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


input[type="submit"] {
     margin-bottom:50px; 
     margin-top:20px; 
     background-color: #c4d001; 
     color:#fff; 
     border: none; 
     width:200px; 
     height:45px; 
     font-style:italic; 
     font-weight: bold; 
     font-size: 18px;;
}


input[type="submit"]:hover {
     background-color :#b0bb00;
}


input[type="submit"]:active {
    position:relative;
    top:1px;
}



textarea {
	width: 180px;
	max-width: 180px;
	max-height: 60px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

input.radiobutton {
	width: 20px;
	border: 0px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	border-color: #b0bb00;
}

input.check {
	width: 20px;
	border: 0px;
}

select {
	border: solid 3px #c4d001;
	background-color: #fff;
	color: #747474;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

input.startbutton {

	display: block;
	margin: auto;
	width: 80px;
	height: 30px;
	padding: 0px;
	font-size: 14px;
	background:#fff;
	border: solid 3px #c4d001;
	color: #c4d001;
	font-weight: bold;
}



input.startbutton:hover, input.startbutton:focus {
	border-color: #b0bb00;
}


.form label {
	margin-left: 5px;
	color: #747474;
	font-size: 18px;
}

div.introcenter {
	clear: left;
	font-size: 14px;
	text-align: center;
	display: block;
	color: #c4d001;
	margin-left: auto;
}

div.fline {
	font-size: 14px;
	text-align: center;
	display: inline;
	color: #c4d001;
	margin-left: 50px;
	margin-right: 50px;
	float: left;
}

div.form {
	margin-top: 0px;
	padding: 0px;
	width: 480px;
	height: 760px;
	margin-left: auto;
	margin-right: auto;
}

div.ankete {
	margin-top: 10px;
	padding: 35px;
	width: 500px;
	height: 760px;
	margin-left: auto;
	margin-right: auto;
}

.notes {
	width: 250px;
	margin-right: 50%;
	margin-left: 300px;
	display: table-cell;
	float: left;
	font-size: 13px;
	color: #747474;
	text-align: justify;
}

div.instructions {
	font-size: 14px;
	color: #747474;
	text-align: justify;
}

div.nadpis {
	clear: both;
	margin-top: 0px;
	margin-bottom: 3px;
	padding-bottom: 0px;
	color: #c4d001;
	font-size: 18px;
	font-weight: bold;
}

div.restext {
	font-size: 13px;
	border: solid 3px #D6944B;
	color: #D6944B;
	display: block;
	padding: 10px;
	margin-left: -250px;
	margin-top: 10px;
	width: 500px;
	position: fixed;
	left: 50%;
	background: black;
	z-index: 9999;
	text-align: justify;
}

div.other {
	clear: both;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	font-size: 14px;
}

img.dark {
	opacity: 0.1;
	filter: alpha(opacity=10);
}

img.nadpis {
	margin-top: 0;
	padding-top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.errorMsg {
	font-size: 14px;
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

div.loaderCanvas {
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	display: none;
	z-index: 9999;
	cursor: wait;
}

.loader {
	position: fixed;
	margin-top: -120px;
	margin-left: -250px;
	left: 50%;
	top: 50%;
	cursor: wait;
}

.restext h4 {
	margin-top: 0px;
	margin-bottom: 8px;
}